<a href="https://colab.research.google.com/github/MauricioGs1/Calidad-de-aire-UAO/blob/main/SQLproyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlite3.dbapi2 import Cursor
import sqlite3 as sql
import pandas as pd

In [ ]:
# pasamos los datos aun dataframe llamado df
Dataframeuao = 'DataFrameUAO.xlsx'
df = pd.read_excel(Dataframeuao)

In [ ]:
df

,ID,Lugar,Fecha,Temperatura (F°),PM1,PM10,PM2.5
0,1,Lago Aulas 4,2023-03-14T10:36:28.000,76.0,15.0,18.0,17.0
1,2,Lago Aulas 4,2023-03-14T10:37:28.000,79.0,14.0,16.0,15.0
2,3,Lago Aulas 4,2023-03-14T10:38:28.000,80.0,13.0,15.0,7.0
3,4,Lago Aulas 4,2023-03-14T10:39:28.000,81.0,13.0,15.0,15.0
4,5,Lago Aulas 4,2023-03-14T10:40:28.000,82.0,15.0,17.0,16.0
...,...,...,...,...,...,...,...
227355,227356,Lago Aulas 4,2023-09-04T17:12:58.000,96.0,18.0,20.0,19.0
227356,227357,Lago Aulas 4,2023-09-04T17:13:58.000,96.0,18.0,20.0,19.0
227357,227358,Lago Aulas 4,2023-09-04T17:14:58.000,96.0,17.0,20.0,19.0
227358,227359,Lago Aulas 4,2023-09-04T17:15:58.000,96.0,18.0,20.0,19.0
227359,227360,Lago Aulas 4,2023-09-04T17:16:58.000,96.0,16.0,19.0,18.0

In [ ]:
#se conecto a un database llamada base_2.db
conn = sql.connect('base_2.db')

# pasamos el df a sql a una tabla llamada PMUAO

df.to_sql('PMUAO', conn, if_exists="replace", index=False)

conn.close()

In [ ]:
# miramos un poco la tabla con los datos en este caso los primeros 10 filas
conn = sql.connect('base_2.db')
print("Me conecte a la base de datos")
cursor = conn.cursor()
query = f"SELECT * FROM PMUAO;"
cursor.execute(query)
datos = cursor.fetchall()
conn.commit()
print(datos[:10])
conn.close

Me conecte a la base de datos
[(1, 'Lago Aulas 4', '2023-03-14T10:36:28.000', 76.0, 15.0, 18.0, 17.0), (2, 'Lago Aulas 4', '2023-03-14T10:37:28.000', 79.0, 14.0, 16.0, 15.0), (3, 'Lago Aulas 4', '2023-03-14T10:38:28.000', 80.0, 13.0, 15.0, 7.0), (4, 'Lago Aulas 4', '2023-03-14T10:39:28.000', 81.0, 13.0, 15.0, 15.0), (5, 'Lago Aulas 4', '2023-03-14T10:40:28.000', 82.0, 15.0, 17.0, 16.0), (6, 'Lago Aulas 4', '2023-03-14T10:41:28.000', 83.0, 15.0, 17.0, 17.0), (7, 'Lago Aulas 4', '2023-03-14T10:42:28.000', 84.0, 15.0, 18.0, 17.0), (8, 'Lago Aulas 4', '2023-03-14T10:43:28.000', 85.0, 15.0, 17.0, 16.0), (9, 'Lago Aulas 4', '2023-03-14T10:44:28.000', 86.0, 6.0, 7.0, 7.0), (10, 'Lago Aulas 4', '2023-03-14T10:45:28.000', 83.0, 15.0, 17.0, 16.0)]

In [ ]:
# en este caso seleccionamos y consultamos solo los datos en donde el PM10 esta por encima de 270 el cual solo nos muestra dos filas.

conn = sql.connect('base_2.db')
cursor = conn.cursor()
query = "SELECT * FROM PMUAO WHERE PM10 > 270"  # Ejemplo de consulta para seleccionar personas mayores de 30 años
cursor.execute(query)


resultados = cursor.fetchall()

conn.close()

In [ ]:
print(resultados)

[(90801, 'Lago Aulas 4', '2023-06-01T07:53:02.000', 83.0, 119.0, 275.0, 147.0), (157347, 'Lago Aulas 4', '2023-07-17T21:12:34.000', 90.0, 117.0, 271.0, 145.0)]

In [ ]:
# miramos un poco mas de la tabla para saber si estan bien estructuradas conociendo sus diferentes columnas
# Conéctate a la base de datos
conn = sql.connect('base_2.db')
cursor = conn.cursor()

# Nombre de la tabla que deseas consultar
nombre_tabla = "PMUAO"

# Consulta SQL para obtener los nombres de las columnas
consulta = f"PRAGMA table_info({nombre_tabla})"
cursor.execute(consulta)

# Recupera los resultados de la consulta
columnas = cursor.fetchall()

# Cierra la conexión
conn.close()

# Imprime los nombres de las columnas
for columna in columnas:
    print(columna[1])

ID
Lugar
Fecha
Temperatura (F°)
PM1
PM10
PM2.5

In [ ]:
# borramos las las filas donde PM10 sea mayor que 270 la cual seran solo dos
conn = sql.connect('base_2.db')
cursor = conn.cursor()
query = "DELETE FROM PMUAO WHERE PM10 > 270"
cursor.execute(query)
conn.commit()
conn.close()

In [ ]:
# se agrego una fila con los valores especificados en cada columna
conn = sql.connect('base_2.db')
cursor = conn.cursor()
query = "INSERT INTO PMUAO (ID, Lugar, Fecha, 'Temperatura (F°)', PM1, PM10, 'PM2.5') VALUES(227361, 'lago aulas 4', '2023-09-18', 76, 14, 20, 16)"
cursor.execute(query)
conn.commit()
conn.close()

In [ ]:
# se muestran las ultimas filas de la tabla PMUAO
conn = sql.connect('base_2.db')
cursor = conn.cursor()
query = "SELECT * FROM PMUAO ORDER BY ID DESC LIMIT 10"
cursor.execute(query)

ultimas_10_filas = cursor.fetchall()

conn.close()

print(ultimas_10_filas)

[(227361, 'lago aulas 4', '2023-09-19', 76.0, 14.0, 20.0, 16.0), (227360, 'Lago Aulas 4', '2023-09-04T17:16:58.000', 96.0, 16.0, 19.0, 18.0), (227359, 'Lago Aulas 4', '2023-09-04T17:15:58.000', 96.0, 18.0, 20.0, 19.0), (227358, 'Lago Aulas 4', '2023-09-04T17:14:58.000', 96.0, 17.0, 20.0, 19.0), (227357, 'Lago Aulas 4', '2023-09-04T17:13:58.000', 96.0, 18.0, 20.0, 19.0), (227356, 'Lago Aulas 4', '2023-09-04T17:12:58.000', 96.0, 18.0, 20.0, 19.0), (227355, 'Lago Aulas 4', '2023-09-04T17:11:58.000', 96.0, 17.0, 19.0, 19.0), (227354, 'Lago Aulas 4', '2023-09-04T17:10:58.000', 96.0, 18.0, 21.0, 20.0), (227353, 'Lago Aulas 4', '2023-09-04T17:09:58.000', 96.0, 17.0, 20.0, 19.0), (227352, 'Lago Aulas 4', '2023-09-04T17:08:58.000', 96.0, 18.0, 20.0, 19.0)]

In [ ]:
# se actualizo la fila creada con anterioridad por los valores nombrados
conn = sql.connect('base_2.db')
cursor = conn.cursor()
query = f"UPDATE PMUAO SET Fecha = '2023-09-19' WHERE Fecha like '2023-09-18';"
cursor.execute(query)
conn.commit()
conn.close()